DISCORD_TOKEN=MTQ5NTkzMTI0MjUxOTE5OTkzNQ.GxSPfK.N3cXdntvdZLco0Eak-59tg0EFN3GgK7XYyH-HM
PRAYER_CITY=Cairo
PRAYER_COUNTRY=Eg
PRAYER_METHOD=5
REMINDER_CHANNEL_ID=
AZKAR_CHANNEL_ID=your_azkar_channel_id_here
